<% layout("/layouts/boilerplate") %>

<div class="row row-cols-lg-3 row-cols-md-1 mt-3">
    <% for(let filta of filtering){%>
     <a href="/listings/<%=filta.id%>" class="listing-link">
      <div class="card col listing-card" style="width: 18rem;">
        <img src="<%=filta.image.url%>" class="card-img-top" alt="listing_image" style="height:20rem;"/>
        <div class="card-img-overlay"> </div>
        <div class="card-body">
          <p class="card-text">
            <%= filta.title %><br/>
            
           <%= (filta.price !== undefined && filta.price !== null) ? filta.price.toLocaleString('en-IN', { style: 'currency', currency: 'INR' }) : 'Price not available' %> / night
            
            <i class="tax-font"> &nbsp; &nbsp; +18% GST</i>
 
          </p>
        </div>
      </div>
    </a>

        <%}%>
        
    

  </div>